@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: yekanBakh-Regular;
  
    src: url('../fonts/YekanBakhFaNum-Regular.woff') format("woff");
  }
  
  @font-face {
    font-family: yekanBakh-Bold;
  
    src: url('../fonts/YekanBakhFaNum-Bold.woff') format("woff");
  }
  
  @font-face {
    font-family: kalameh-black;
  
    src: url('../fonts/kalameh/KalamehWebFaNum-Black.woff') format("woff");
  }
  @font-face {
    font-family: kalameh-light;
  
    src: url('../fonts/kalameh/KalamehWebFaNum-Light.woff') format("woff");
  }
  @font-face {
    font-family: Astonia;
  
    src: url('../fonts/Astonia.ttf') format("truetype");
  }
  html{
    scroll-behavior: smooth;
  }
  body {
    font-family: yekanBakh-Regular;
    user-select: none;
    overflow-x:hidden;
  }
  a {
    cursor: pointer;
  }
  header ul li a{
    @apply after:opacity-0 transition-all after:transition-all relative after:mx-auto after:-bottom-5 after:inset-x-0 after:absolute after:w-3 after:h-1 after:bg-purple after:rounded-[21px]
  }
  header ul li a.active::after,header ul li a.active{
    opacity: 100%;
  }
  header ul li a.active::after{
    bottom: -12px;
  }
  .shadow-1{
    box-shadow: 0px 0px 35.20000076293945px 0px #0000000D;
  }
  .shadow-2{
    box-shadow: 0px 0px 200px 0px #00000026;
  }
  .shadow-3{
    box-shadow: 0px 0px 155.17242431640625px 0px #00000026;
  }
  .shadow-4{
    box-shadow: 0px 0px 82.42106628417969px 0px #0000001C;
  }
  .shadow-5{
    box-shadow: -9.741082191467285px 7.653707504272461px 55.663326263427734px 0px #F6AB36B2;
  }
  .shadow-6{
    box-shadow: -11.199999809265137px 8.800000190734863px 64px 0px #643394B2;
  }
  .shadow-7{
    box-shadow: -14px 11px 80px 0px #643394;
  }
  .shadow-8{
    box-shadow: 0px 0px 348px 126px #00000026;
  }
  .shadow-9{
    filter: drop-shadow(0px 0px 200px 0px #00000026);
  }
  .shadow-10{
    box-shadow: 0px 0px 43.01886749267578px 0px #0000001A;
  }
  .shadow-11{
    box-shadow: 0px -4px 96px -15px #0000001A;
  }
  .shadow-12{
    box-shadow: -11.199999809265137px 8.800000190734863px 64px 0px #F6AB36B2;
  }
  .shadow-next{
    box-shadow: -2px 0px 24px 0px #0000001A;
  }
  .bg-blur{
    background-color: rgba(255, 255, 255, 0.91);
    backdrop-filter: blur(4px);
  }
  #hamIcon.active svg:last-child{
    display: block;
  }
  #hamIcon.active svg:first-child{
    display: none;
  }
  .mobileMenu{
    box-shadow: 0px 0px 162px 0px #00000026;
    display: none;
  }
  .mobileMenu.active{
    display: block;
  }
  .dropdownBtn .arrowSvg.active,.dropdownBtn2 .arrowSvg.active {
    transform: rotate(0);
  }
  .dropdownContent,.dropdownContent2,.accordionContent,.dropdown {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
  }
  .dropdownContent.active {
    max-height: 2000px;
    margin-top: 18px;
    overflow: hidden;
  }
  .dropdown{
    padding-left: 12px;
    padding-right: 12px;
  }
  .dropdown.active {
    max-height: 2000px;
    margin-top: 18px;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .accordionContent.active,.accordionContent2.active{
    max-height: 2000px;
  }
  .dropdownContent2.active{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .arrowShape.active{
    opacity: 100%;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .dropdown.actie{
    display: grid!important;
  }
  /* swiper */
  .banner .swiper, .banner2 .swiper,.services .swiper,.lastProjects .swiper,.customer .swiper,.comments .swiper,.testimonials .swiper,.about .swiper,.relatedProjects .swiper{
    position: static;
  }
  .banner .swiper-button-prev, .banner2 .swiper-button-prev{
    right: -18px!important;
  }
  .banner .swiper-button-next,.banner2 .swiper-button-next{
    left: -18px!important;
    right: auto;
  }
  .banner .swiper-button-prev:active,.banner .swiper-button-next:active,
  .banner2 .swiper-button-prev:active,.banner2 .swiper-button-next:active,
  .services .swiper-button-prev:active,.services .swiper-button-next:active,
  .testimonials .swiper-button-prev:active,.testimonials .swiper-button-next:active{
    transform: scale(0.95)!important;
  }
  .banner .swiper-button-prev,.banner .swiper-button-next,.banner2 .swiper-button-prev,.banner2 .swiper-button-next{
    background-color: #643394;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    top: 45%;
  }
 .banner2 .swiper-button-prev,.banner2 .swiper-button-next{
    top: 52%;
  }
  .banner .swiper-button-prev::after,.banner .swiper-button-next::after,
  .banner2 .swiper-button-prev::after,.banner2 .swiper-button-next::after,
  .services .swiper-button-prev::after,.services .swiper-button-next::after,
  .testimonials .swiper-button-prev::after,.testimonials .swiper-button-next::after{
    font-size: 18px;
    color: white;
  }
  .services .swiper-button-prev,.services .swiper-button-next{
    @apply top-auto md:!bottom-[42px] sm:!bottom-[391px] !bottom-[344px];
  }
  .services .swiper-button-prev,.services .swiper-button-next,.testimonials .swiper-button-prev,.testimonials .swiper-button-next{
    @apply bg-[#f6ab36] rounded-full w-11 h-11;
  }
  .testimonials .swiper-button-prev,.testimonials .swiper-button-next{
    @apply !bottom-[284px] sm:!bottom-[267px] md:!bottom-[312px] lg:!bottom-[35px] xl:!bottom-[51px] top-auto;
  }
  .services .swiper-button-next{
    @apply md:!right-[-33%] sm:!right-[16%] !right-[22%] !left-auto;
  }
 .testimonials .swiper-button-next{
    @apply md:!right-[16%] sm:!right-[16%] !right-[22%] !left-auto;
  }
  .services .swiper-button-prev{
    @apply md:!right-[-44%] !right-[7%];
  }
  .testimonials .swiper-button-prev{
    @apply md:!right-[10%] !right-[7%];
  }
  .services .swiper-pagination-bullets{
    @apply !right-0 md:!right-[0%] !-bottom-7 md:!bottom-[-2.5rem];
  }
  .testimonials .swiper-pagination-bullets{
    @apply !right-0 lg:!right-[16%] !bottom-[-8px] md:!bottom-2;
  }
  .relatedProjects .swiper-horizontal > .swiper-pagination-bullets,.relatedProjects .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 30px;
  }
  .comments .swiper-horizontal > .swiper-pagination-bullets,.comments .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -23px;
  }
  .banner2 .swiper-horizontal > .swiper-pagination-bullets,.banner2 .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -52px;
  }
  .swiper-pagination-bullet-active {
    background: #F6AB36!important;
    width: 35px!important;
    border-radius: 12px!important;;
    height: 8px;
  }
  .swiper-pagination-bullet{
    background-color: #0000003B;
    width: 10px;
    height: 8px;
    border-radius: 12px!important;;
    opacity: 100%;
    transition: all .4s;
  }
  .customer .swiper-pagination-bullet{
    background-color: #FFFFFF3B;
  }
  /* hover */
  .btnHover{
    position: relative;
    transition: all .4s;
    overflow: hidden;
  }
  .btnHover::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  .btnHover:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  @media only screen and (max-width: 400px) {
  
    .customer .swiper-pagination-bullet{
      width: 6px;
      height:5px;
    }
  }